.form-add-player
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.lb-form-add-player
{
    display: block;
    color:#b8b8b8;
}

.form-add-player-input, .form-add-player-select
{
    width: 300px;
    height: 32px;
    background-color: #696969;
    border: none;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

.button-add-player
{
    width: 150px;
    height: 32px;
    color: white;
    border-radius: 5px;
    background-color: #25a556;
    border: none;
    cursor: pointer;
}